<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music E-Shop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="siteName" id="siteName">
        <img class="logo" id="logo" src="/images/Music-e-shop-logo-1.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="/">Shop</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/order">Orders</a></li>
                {{#if logged_in}}
                <button class="'no-button" id="logout">logout</button>
                {{else}}
                <li><a href="/login">Login</a></li> <!-- TODO: KEEP This and delete the one above on line19 -->
                {{/if}}
            </ul>
        </nav>
    </header>
    <main class="container container">
        {{{body}}}
    </main>
    <footer>

    </footer>
</div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>