<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music E-Shop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <header class="siteName" id="siteName">
        <img class="logo" src="images/Music-e-shop-logo-1.png" width="100" alt="logo">
        <div class="container">
            <div class="row">
                <nav class="col-12">
                    <ul class="nav">

                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="/orders">Cart
                        <span class="badge badge-light" id="cart-badge" style="background-color: blue;"></span>
                        </a></li>

                        {{#if loggedIn}}
                        <button type="submit" class="btn btn-primary" id="logout">logout</button>
                        {{else}}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="alert-container"></div>
    <body>
        <div class="container">
            <main class="row">
                {{{ body }}}
            </main>
        </div>

        <div class="row">
            <div class="col">
                <br>
                <br>
                <footer class="text-center py-3">Follow us on Social media
                    <div class="social-links-container">
                        <ul class="social-links">
                            <li><a href="https://facebook.com/AliahGuerraMusic" target="_blank"><h5>Facebook📘</h5></a></li>
                            <li><a href="https://instagram.com/AliahGuerra" target="_blank"><h5>Instagram📷</h5></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
            {{#if loggedIn}}
        <script src="/js/logout.js"></script>

         {{/if}}
        <script>
            // IFEE
            (function getCart() {
                const badgeEl = document.getElementById('cart-badge');
                fetch('/api/cart')
                .then(res => res.json())
                .then(data => {
                    badgeEl.innerText = data?.length;
                    console.log('cart:', data);
                });
            })();
            
        </script>
    </body>

</html>