   <!-- BEGIN: homepage.handlebars-->
                <!-- featured-products -->
                <div class="col-md-9">
                    <ul class="main-prod-display">
                        <br>
                        <li><h2 class="main-prod-title">New Arrival</h2></li>
                        <li><img class="main-prod-img" src="images/Music-e-shop-logo-1.png"  alt="logo"></li>
                    </ul>
                        <button class="btn btn-primary" id="view-more-btn">View More</button>
                        <br>
                </div>
                <!-- class="product-display"> -->
                <aside class="col-md-3">
                    <ul class="aside-prod-display">
                        <br>
                        <li><h2 class="aside-prod-title">Products</h2></li>
                        <li><img class="aside-prod-img" src="images/Music-e-shop-logo-1.png" width="200" alt="logo"></li>
                        <br>
                        <li><img class="aside-prod-img" src="images/Music-e-shop-logo-1.png" width="200" alt="logo"></li>
                    </ul>
                </aside>
                <!-- END: homepage.handlebars-->