   <!-- BEGIN: homepage.handlebars-->
                <!-- featured-products -->
                <div class="col-md-9" style="background-color: greenyellow;">
                    <h2>Featured Products</h2>
                    <img class="img-fluid" src="images/Music-e-shop-logo-1.png" width="100" alt="logo">
                    <button class="btn btn primary">Buy Now!!!</button>
                </div>
                <!-- class="product-display"> -->
                <aside class="col-md-3" style="background-color: blueviolet;">
                    <h2>Products</h2>
                    <img class="img-fluid" src="images/Music-e-shop-logo-1.png" width="100" alt="logo">
                    <img class="img-fluid" src="images/Music-e-shop-logo-1.png" width="100" alt="logo">
                </aside>
                <!-- END: homepage.handlebars-->