<div class="login-container">

    <div class="login-card">

        <div class="card-header">
            Login Here!
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" type="text" />
                <label>Password:</label>
                <input class="form-control" type="text" />
            </div>
            <p><a class="forgot-text" href="mailto:aliahguerra.app@gmail.com" target="_blank">Forgot Password or Username? Request reset link.</a></p>
            <br>
            <a href="#" class="btn btn-primary">Login!</a>
        </div>
    </div>
    <br>
    <br>

    <div class="sign-up-card">
        <div class="card-header">
            Sign Up Here!
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Create a Username:</label>
                <input class="form-control" type="text" />
                <label>Create a Password:</label>
                <input class="form-control" type="text" />
            </div>
             <p><a class="forgot-text" href="mailto:aliahguerra.app@gmail.com" target="_blank">Forgot Password or Username? Request reset link.</a></p>
            <br>
            <a href="#" class="btn btn-primary">Sign Up!</a>
        </div>
    </div>


</div>