<div class="login-container">

    <div class="login-card">

        <div class="card-header">
            Login Here!
        </div>
        <form class="form login-form">
            <div class="card-body">
                <div class="form-group">
                    <label>Email:</label>
                    <input id="email-login" class="form-control" type="text" />
                    <label>Password:</label>
                    <input id="password-login" class="form-control" type="password" />
                </div>
                <p><a class="forgot-text" href="mailto:aliahguerra.app@gmail.com" target="_blank">Forgot Password or Username? Request reset link.</a></p>
                <br>
                {{!-- <a href="/views/order.handlebars" class="btn btn-primary">Login!</a> --}}
                <button type="submit" class="btn btn-primary">Login!</button>
            </div>

        </form>

    </div>
    <img class="login-gif" src="images/giphy.gif">
    <br>

    <br>

    <div class="sign-up-card">
        <div class="card-header">
            Sign Up Here!
        </div>

        <form class="form signup-form">
            <div class="card-body">
                <div class="form-group">
                    <label>Enter your Email:</label>
                    <input class="form-control" type="text" id="signup-email"/>
                    <label>Create a Username:</label>
                    <input class="form-control" type="text" id="signup-username" />
                    <label>Create a Password:</label>
                    <input class="form-control" type="password" id="signup-password" />
                </div>
                <p><a class="forgot-text" href="mailto:aliahguerra.app@gmail.com" target="_blank">Forgot Password? Request reset link.</a></p>
                <br>
                {{!-- <a href="#" class="btn btn-primary">Sign Up!</a> --}}
                <button type="submit" class="btn btn-primary">Sign Up!</button>
            </div>
        </form>

    </div>
</div>

<script src="/js/login.js"></script>
<script src="/js/signUp.js"></script>
