* {
    font-family: FangSong;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    border-color: black;
    border: 2px solid black;
    margin: 10px;
}

header h1 {
    margin-right: 20px;
}

.logo {
    display:inline-flex;
    flex:1 1 auto;
    max-width:7vw;
    max-height:10vh;
}

.nav-links {
    list-style-type:none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

a {
    color:black;
    cursor:pointer;
    font-size: 30px;
}

.nav-links li:hover {
    background-color:lightgray;
    text-decoration:underline;
    transition: all 1s;
}

.login-card, .sign-up-card {
    width:50%;    
}

.login-container {
    display:flex;
    flex-direction: row;
    padding-top:5vh ;
}

.card-header{
    justify-content: space-between 10px;
    margin: 20px;
}

.social-links {
    list-style-type:none;
    display: flex;
}

.social-links li {
    margin-right: 20px;    
}

.social-links li:last-child {
    margin-right: 0;
}


.social-links li:hover {
    background-color:lightgray;
    transition: all 1s;
    text-decoration:underline;
}

.social-links-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.forgot-text {
    font-size: 20px;
    color:blue;
}

ul.main-prod-display , ul.aside-prod-display, button {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-prod-img {
    width:40vw;
    height:70vh;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.aside-prod-img {
    width:12vw;
    height:20vh;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#view-more-btn  { 
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 12vw;    
}

.col-md-9 {
    background-color: lightblue;
    width:75%;
    height:auto;
}
.col-md-3 {
    background-color: lightcyan;   
    width:25%;
    height:auto;
}

img.card-img-top{
    width:261.77px;
    height:327.21px;
    align-items: center;

}
#checkout-btn  {
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;  
    display:flex;
    flex-direction: column;
}
div.card-header {
    background-color:blue;
    color:white;

}
img.login-gif {
    width:30vw;
    height:30vh;
    display:flex;
    justify-content: center;
    align-items: center;
}